.gallery {
  margin: 0 0 ($myouan-base-line-height / 2);

  &-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @for $i from 2 through 9 {
      .gallery-columns-#{$i} & {
        max-width: percentage(1 / $i);
      }
    }
  }

  &-icon {
    img {
      margin: 0 auto;
    }
  }

  &-caption {
    display: block;

    .gallery-columns-6 &,
    .gallery-columns-7 &,
    .gallery-columns-8 &,
    .gallery-columns-9 & {
      display: none;
    }
  }
}
