@import 'wordpress';

body {
	color: $wpbook-color-text;
	font-size: $wpbook-base-font-size;
	line-height: wpbook-strip-unit( $wpbook-base-line-height / $wpbook-base-font-size );
}

img {
	height: auto;
	max-width: 100%;
}

h1 {
	margin-top: 0;
	margin-bottom: $wpbook-base-line-height;
	@include wpbook-font-size-line-height( $wpbook-base-font-size );
}

h2 {
	margin-top: ( $wpbook-base-line-height * 2 );
	margin-bottom: $wpbook-base-line-height;
	@include wpbook-font-size-line-height( $wpbook-base-font-size * 2.5 );
}

h3 {
	margin-top: ( $wpbook-base-line-height * 2 );
	margin-bottom: $wpbook-base-line-height;
	@include wpbook-font-size-line-height( $wpbook-base-font-size * 2 );
}

h4 {
	margin-top: ( $wpbook-base-line-height * 2 );
	margin-bottom: $wpbook-base-line-height;
	@include wpbook-font-size-line-height( $wpbook-base-font-size * 1.5 );
}

h5, h6 {
	margin-top: $wpbook-base-line-height;
	margin-bottom: 0;
	@include wpbook-font-size-line-height( $wpbook-base-font-size );
}

p, ul, ol, dl, table {
	margin-bottom: $wpbook-base-line-height;
}

.input-group {
	z-index: 0;
}
