.c-drawer {
	&__body {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		bottom: 0;
		transform: translateX(-100%);
		transition: transform .2s;
		width: ( $wpbook-base-line-height * 10 );
		max-width: 80%;
		background-color: #333;
		overflow-y: auto;

		&--fixed {
			position: fixed;
		}

		&[aria-expanded="true"] {
			transform: translateX(0);
		}
	}

	&__btn {
		position: relative;
		z-index: 11;
	}

	&__menu {
		list-style: none;
		margin: 0;
		padding: ($wpbook-base-line-height / 4) 0 0;
	}

	&__item {
		padding: ( $wpbook-base-line-height / 2 ) $wpbook-base-line-height 0;
	}

	&__submenu {
		height: 0;
		overflow: hidden;
		list-style: none;
		margin: 0;
		margin-right: ( $wpbook-base-line-height * -1 );
		padding-left: 1em;

		[aria-expanded="true"] > & {
			height: auto;
			overflow: visible;
		}
	}

	&__subitem {
		padding: ( $wpbook-base-line-height / 2 ) 0 0;
	}

	&__item, &__subitem {
		position: relative;

		> a {
			transition: background-color .2s;
			color: #fff;
			@include wpbook-font-size-line-height( $wpbook-base-font-size - 2 );
			text-decoration: none;

			@include wpbook-hover() {
				color: #ccc;
			}
		}
	}

	&__toggle {
		cursor: pointer;
		position: absolute;
		top: ( $wpbook-base-line-height / 2 );
		right: 5px;
		bottom: 0;
		height: $wpbook-base-line-height;
		width: $wpbook-base-line-height;
		display: flex;
		align-items: center;
		justify-content: center;

		> .fa {
			color: #fff;
			transition: transform .2s;
		}
	}

	[aria-expanded="true"] {
		> .c-drawer__toggle {
			> .fa {
				transform: rotate( 90deg );
			}
		}
	}
}
