$myouan-bp-xs-min: 0;

$myouan-bp-sm-min: 768px;
$myouan-bp-xs-max: ($myouan-bp-sm-min - 1);

$myouan-bp-md-min: 992px;
$myouan-bp-sm-max: ($myouan-bp-md-min - 1);

$myouan-bp-lg-min: 1200px;
$myouan-bp-md-max: ($myouan-bp-lg-min - 1);
