.p-3points {
  padding: 80px 0;

  @include myouan-bp-md-min() {
    padding: 30px 0;
  }

  &__item {
    margin-bottom: $myouan-base-line-height;
    padding: 1.8em;

    @include myouan-bp-md-min() {
      margin-bottom: 0;
    }
  }

  [class^="col-"]:last-child {
    .p-3points__item {
      margin-bottom: 0;
    }
  }

  &__thumbnail {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      display: block;
      padding-top: 75%;
    }

    &--circle {
      border-radius: 100%;

      &::before {
        padding-top: 100%;
      }
    }
  }

  &__link {
    margin-top: ($myouan-base-line-height / 2);

    .btn {
      width: 100%;
    }
  }

  &__description {
    line-height: 1.4;
    font-size: ($myouan-base-font-size - 1);
    margin: 1em 0;
  }
}
