.p-child-pages {
  @include wpbook-clearfix();
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: $wpbook-base-line-height 0 0;
    padding: 0;
  }

  &__title {
    @include wpbook-font-size-line-height($wpbook-base-font-size * 1.5);
    font-weight: bold;
    margin-bottom: ($wpbook-base-font-size / 2);
  }

  &__excerpt {
    margin-bottom: ($wpbook-base-font-size / 2);

    * {
      margin-bottom: 0;
    }
  }

  @include wpbook-bp-md-min() {
    margin-right: -15px;
    margin-left: -15px;

    &__item {
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      width: 50%;

      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }
}
