.p-child-pages {
  @include wpbook-clearfix();
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: $wpbook-base-line-height 0 0;
    padding: 0;

    .c-media {
      min-width: 18em;

      @include wpbook-bp-min(750px) {
        min-width: 720px;
      }

      @include wpbook-bp-min(970px) {
        min-width: 330px;
      }

      @include wpbook-bp-min(1170px) {
        min-width: 408px;
      }
    }
  }

  &__title {
    @include wpbook-font-size-line-height($wpbook-base-font-size + 2);
    font-weight: bold;
    margin-bottom: ($wpbook-base-font-size / 2);
  }

  &__excerpt {
    margin-bottom: ($wpbook-base-font-size / 2);
    @include wpbook-font-size($wpbook-base-font-size - 2);
    line-height: 1.4;

    * {
      margin-bottom: 0;
    }
  }

  @include wpbook-bp-md-min() {
    margin-right: -15px;
    margin-left: -15px;

    &__item {
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      width: 50%;

      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }
}
