.p-content {
  margin: 0 0 $wpbook-base-line-height;

  &__subcopy {
    margin: 0 0 ($wpbook-base-line-height / 2);
    background-color: #eee;
    padding: $wpbook-base-font-size;
  }

  &__entry-meta {
    margin: 0 0 $wpbook-base-line-height;
    padding: $wpbook-base-font-size 0 0;

    a {
      font-size: 12px;
      display: inline-block;
      padding: 2px 6px;
      margin-left: 4px;
      border-radius: 2px;
      margin-right: 4px;
      line-height: 1.1;
      background-color: #eee;
      color: $wpbook-color-text;
    }
  }

  &__title {
    @include wpbook-font-size-line-height($wpbook-base-font-size * 2);
    margin: 0 0 $wpbook-base-font-size;
  }

  &__excerpt {
    margin: 0 0 $wpbook-base-line-height;
    background-color: #eee;
    padding: $wpbook-base-font-size;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
