.p-entry-meta {
  list-style: none;
  margin: 0;
  @include wpbook-font-size-line-height($wpbook-base-font-size - 2);
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 $wpbook-base-font-size 0 0;
  }
}
