.p-gallery {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;

		@include wpbook-bp-md-min() {
			display: table;
			table-layout: fixed;
			width: 100%;
		}
	}

	&__item {
		margin: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;

		&::before {
			content: '';
			display: block;
			padding-top: 75%;
		}

		@include wpbook-bp-md-min() {
			display: table-cell;
			width: 100%;
		}
	}
}
