.p-header-nav {
  background-color: #333;
  @include wpbook-font-size-line-height($wpbook-base-font-size - 2);
  padding: (($wpbook-base-font-size - 2) / 2) 0;
  text-align: center;

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    display: inline-block;
    margin: 0 $wpbook-base-font-size;
    padding: 0;

    a {
      color: #fff;
      text-decoration: none;

      @include wpbook-hover() {
        text-decoration: underline;
      }
    }
  }
}
