.p-recent-posts-list {
  > .container {
    @include wpbook-bp-md-min() {
      display: table;
      table-layout: fixed;
    }
  }

  &__item {
    margin-bottom: $wpbook-base-line-height;

    &:last-child {
      margin-bottom: 0;
    }

    @include wpbook-bp-md-min() {
      display: table-cell;
      width: 100%;
      padding: 0 15px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
