.p-recent-news-masonry {
  &__list {
    @include myouan-clearfix();
    list-style: none;
    margin: 0 -15px -15px;
    padding: 0;
  }

  &__item {
    padding: 15px;
    padding: 0;

    @include myouan-bp-md-min() {
      float: left;
      width: 25%;
    }

    > a {
      display: block;
      color: $myouan-color-text;
      padding: 15px;
      text-decoration: none;
    }
  }

  &__thumbnail {
    > img {
      height: auto;
      width: 100%;
    }
  }
}
