.p-recent-posts {
  &__title {
    margin: 0 0 $myouan-base-line-height;
    border-bottom: 1px solid $myouan-color-gray;
    @include myouan-font-size-line-height($myouan-base-font-size + 2);
    padding: 0 0 8px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: ($myouan-base-line-height / 2) 0;
    padding: 0;
  }
}
