.p-recent-posts-list {
	@include wpbook-bp-md-min() {
		> .container {
			display: table;
			table-layout: fixed;
		}

		&__item {
			display: table-cell;
			width: 100%;
			padding: 0 15px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}
